body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    background-color: rgb(234, 232, 232);

}

.header{
    background-color: #2370f4;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 180px;
    padding-right: 70px;

    box-shadow: 2px 5px 10px rgba(0,0,0,0.14);
   
}

.logo-img{
    width: 75px;
}

.search-input{
    padding: 9px 15px;
    min-width: 280px;
    margin-left: 5px;
}

.search-input:focus{
    outline: none;
}

.login-btn{
    background-color: white;
    color:#2370f4;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 40px;
    border: none;
    border-radius: 1px;
    margin-left: 7px;
    margin-right: 15px;

}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;

}

.header-links .link{
    margin-right: 35px;
}


.link a{
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.header div{
    margin-right: 5px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}


.search-icon{
    background-color: white;
    width: 36px;
    height: 36px;
    padding-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -2px;

    
   
}


.header-links ion-icon{
    color: white;
    font-size: 25px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon{
    color: #2370f4;
    font-size: 20px;
    --ionicon-stroke-width: 60px;
}